<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Americana</title>
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/javascript/script.js"></script>
	</body>
</html>
